---
---

@charset "utf-8";

// Our variables

@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/bangers/Bangers.ttf");
}


@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/oswald/Oswald-Regular.ttf");
}

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
//@import "minima";

// bootstrap stuff
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body {
  font-family: "Oswald";
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bangers"
}

div.header {
  background: url("{{ "/images/glg-page-banner-smaller.jpg" | prepend: site.baseurl}} ") white right;
  div.description {
    background-color: white;
    opacity: 0.85;
  }
}

div.invert-colors {
  background: black;
  h1, h2, h3, h4, h5, h6, p, i { color: white; }
}
