<!DOCTYPE html>
<html>

  {% include head.html %}
  <link rel="stylesheet" href="{{ "/css/turn.css" | prepend: site.baseurl }}">

  <body>

    <div class="home container-fluid">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include scripts.html %}
    <script src="{{ "/js/turn.min.js" | prepend: site.baseurl }}"></script>

    <script>
      $("a.next").click(function(){
        $("#flipbook").turn("next");
      });

      $("a.previous").click(function(){
        $("#flipbook").turn("previous");
      });

      $("#flipbook").turn({
        width: $(document).width() * 0.65,
        height: $(document).height() * 0.5,
        autoCenter: true
      });
    </script>
  </body>

</html>